@page "/parts"

@using MudBlazor
@using Valhala.Controller.Products
@using Valhala.Controller.UI
@using Valhala.Components.Pages.Dialogs;
@using Valhala.Authentication
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject IDialogService DialogService
@inject UIService UIService
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<div class="flex flex-row justify-between">
    <MudText Typo="Typo.h1">
        Gestão de Peças
    </MudText>
    @if(_role == "Fornecedor"){
        <MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Variant="Variant.Filled" OnClick="NewPeca">
            Adicionar Peça
        </MudFab>
    }
</div>

<MudTable Items="@_pecas" T="PecaUI" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" Height="70vh" class="mt-8" RowsPerPage="6" OnRowClick="OpenEditDialog" RowClass="hover:cursor-pointer">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Identificador</MudTh>
        <MudTh>Stock</MudTh>
        <MudTh>Fornecedor</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="">
            @if(@context.GetImagem() != ""){
                <img class="w-16 h-16" src=@context.GetImagem() />
            }
        </MudTd>
        <MudTd DataLabel="Identificador">@context.GetID()</MudTd>
        <MudTd DataLabel="Stock">@context.GetQuantidade()</MudTd>
        <MudTd DataLabel="Fornecedor">@context.GetFornecedorNome()</MudTd>
    </RowTemplate>
    <PagerContent>
            <MudTablePager HideRowsPerPage="@true"  />
    </PagerContent>
</MudTable>

@code { 
    private bool _loading;
    private IEnumerable<PecaUI> _pecas = new List<PecaUI>();
    private string _role = ""; 
    private int fornecedor = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;
        var role = claimsPrincipal.FindFirst(c => c.Type == ClaimTypes.Role)?.Value;
        var name = claimsPrincipal.FindFirst(c => c.Type == ClaimTypes.Name)?.Value;
        var id = claimsPrincipal.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        fornecedor = int.Parse(id ?? "0");

        _role = role;

        // Depending on the role, only display specific parts
        if(role == "Fornecedor")
            _pecas = UIService.listPecas().Where(p => p.GetFornecedorNome() == name);
        else
            _pecas = UIService.listPecas();
    }

    private void OpenEditDialog(TableRowClickEventArgs<PecaUI> tableRowClickEventArgs)
    {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large };

        var parameters = new DialogParameters<GesPartDialog> {
            { "partId", tableRowClickEventArgs.Item.GetID() }
        };

        if(_role == "Fornecedor") {
            DialogService.ShowAsync<ForPartDialog>("Part", parameters, options);
        } else {
            DialogService.ShowAsync<GesPartDialog>("Part", parameters, options);
        }
    }

    private void NewPeca(){
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large };

        var parameters = new DialogParameters<GesPartDialog> {
            { "id", 0 },
            { "fornecedor", fornecedor }
        };

        DialogService.ShowAsync<NewPartDialog>("Part", parameters, options);
    }
}
