@using Valhala.Controller.UI
@inject UIService UIService
@inject NavigationManager NavigationManager

<MudDialog  class="p-4">
    <TitleContent>
        <MudText Typo="Typo.h5">
            Peça @part.GetID()
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="flex flex-col gap-8 mt-4">
            <div class="w-full flex flex-col">
                <MudField Label="Identificador" Variant="Variant.Text">@part.GetID()</MudField>
            </div>
            <div class="w-full outline outline-dashed rounded-lg my-1 p-4">
                <img class="w-64 h-64" src="@part.GetImagem()" />
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled">Descontinuar</MudButton>
        <MudIconButton Icon="@Icons.Material.Outlined.Save" OnClick="@Submit" Color="Color.Primary" Variant="Variant.Filled"/>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private MudDialogInstance _MudDialog { get; set; }

    [Parameter]
    public int partId { get; set; }

    private PecaUI part;

    protected override async Task OnInitializedAsync()
    {
        part = UIService.getPeca(partId);
    }

    private void Submit() {
        _MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => _MudDialog.Cancel();
}