@using Valhala.Controller.UI
@inject UIService UIService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<MudDialog class="p-4">
    <TitleContent>
        <MudText Typo="Typo.h5">
            Peça @part.GetID()
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="flex flex-row gap-8 mt-4">
            <div class="w-full flex flex-col">
                <MudField Label="Identificador" Variant="Variant.Text">@part.GetID()</MudField>
                <MudNumericField @bind-Value="_stock"  Label="Stock" Variant="Variant.Text">@part.GetQuantidade()</MudNumericField >
                <MudField Label="Fornecedor" Variant="Variant.Text">@part.GetFornecedorNome()</MudField>
            </div>
            <div class="w-full outline outline-dashed rounded-lg my-1 p-4">
                <img class="w-64 h-64" src="@part.GetImagem()" />
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        @if(part.GetFornecedor() != -1) {
            <MudIconButton Icon="@Icons.Material.Outlined.LocalShipping" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@Order" />
        }
        <MudButton OnClick="@Submit" Color="Color.Primary" Variant="Variant.Filled">Gravar alterações</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter]
    private MudDialogInstance _MudDialog { get; set; }

    [Parameter]
    public int partId { get; set; }

    private PecaUI part;

    private int _stock = 0;

    protected override async Task OnInitializedAsync()
    {
        part = UIService.getPeca(partId);
        _stock = part.GetQuantidade();
    }

    private void Submit() {
        UIService.updateStockPeca(partId, _stock);
        _MudDialog.Close(DialogResult.Ok(true));
        NavigationManager.NavigateTo("/parts", true);
    }

    private void Cancel() => _MudDialog.Cancel();

    private void Order() {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large };

        var parameters = new DialogParameters<GesPartDialog> {
            { "partId", partId }
        };

        DialogService.ShowAsync<OrderPartDialog>("Part", parameters, options);
    }
}